<h2>addstudent works!</h2>

<form [formGroup]="addAPIForm" (ngSubmit)="submitForm()">
  <div>
    <input type="number" formControlName="id" placeholder="enter id">
  </div> <br>
  <div>
    <input type="text" formControlName="nm" placeholder="enter Name">
  </div> <br>
  <div>
    <input type="number" formControlName="mobile" placeholder="enter mobile no">
  </div> <br>
  <div>
    <input type="text" formControlName="addr" placeholder="enter Address">
  </div> <br>
  <button>Submit</button>
</form>
